<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Index page -->
    <filter>
        <filter-name>SercurityFilter</filter-name>
        <filter-class>com.tss.filter.SercurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SercurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.tss.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.tss.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.tss.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectManagementServlet</servlet-name>
        <servlet-class>com.tss.controller.management.SubjectManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.LoginWithGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServiceServlet</servlet-name>
        <servlet-class>com.tss.controller.WebContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaGeneratorServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.CaptchaGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>com.tss.controller.UserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListServlet</servlet-name>
        <servlet-class>com.tss.controller.SettingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailServlet</servlet-name>
        <servlet-class>com.tss.controller.SettingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>com.tss.controller.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Login page -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- Logout page -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tss.controller.sercurity.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- UserManagementServlet page -->
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>com.tss.controller.management.UserManagementServlet</servlet-class>
    </servlet>
    <!-- Resource -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectManagementServlet</servlet-name>
        <url-pattern>/subject/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <url-pattern>/loginWithGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceServlet</servlet-name>
        <url-pattern>/webcontact/webcontactlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaGeneratorServlet</servlet-name>
        <url-pattern>/captchaGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/management/userdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/management/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListServlet</servlet-name>
        <url-pattern>/settingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailServlet</servlet-name>
        <url-pattern>/settingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
